    * {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color:#016A70 ;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #A0C49D;
    z-index: 1;
    border-bottom: 1px solid #016A70;

}

nav ul {
    list-style-type:none ;
    margin: 0;
    padding: 0;
    overflow:  hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #94A684;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.gambar1 {
    width: 380px;
    height: 400px;
    border-radius: 30%;
    margin-top: 95px;
}

.gaje {
    width: 580px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 50px; 
    margin-left: 250px;
}

.gaje2 {
    width: 580px;
    height: 400px;
    margin-top: 120px;
    margin-bottom: 50px; 
    margin-left: 250px;
    border-radius: 30%;
}

.gaje3 {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.kolom1 {
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-left: 250px;
    margin-bottom: 50px; 
    margin-right: 250px;
}

.kolom2{
    margin-top: 50px;
    margin-bottom: 50px; 
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px; 
}

.kolom1 .deskripsi{
    font-size: 15px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #016A70;
}

.kolom2 .deskripsi{
    font-size: 15px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #016A70;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #016A70;
}

span {
    color: #94A684;
}

h2{
    font-family:'comic sans ms' ;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #016A70;
    width: 100%;
    line-height: 50px;
}

.po {
    color: #94A684;
}

a.tbl-biru{
    background: #E1ECC8;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 25px;
    padding: 15px 20px 15px 20px;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background:#C4D7B2 ;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 240px;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px; 
    text-align: center;
    color: #016A70;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 30%;
}

#contact {
    background: #A0C49D;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid #016A70;
    border-bottom: 1px solid #016A70;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #016A70;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 10px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
}

.profile {
    width: 280px;
    height: 300px;
}

.IG {
    color: black;
    font-weight: bold;
}